@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --font-family: "Roboto", sans-serif;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6, p, li, ul, a {
    margin: 0;
}

/* header  */
.header {
}
.header-first {
    height: 47px;
    background: #b36050;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-first-p {
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-align: center;
    color: #f1d3b9;
}
.header-second {
    height: 71px;
    background: #f6f4ec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    padding-right: 12px;
}
.header-second-left {
    display: flex;
    gap: 32px;
}
.header-second-left-a {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #b4604d;
    text-decoration: none;
    transition: .2s;
}
.header-second-left-a:hover {
    font-weight: 600;
    color: #b53e23;
}
.header-second-mid {
    margin-right: 248px;
}
.header-second-mid-img {
}
.header-second-right {
    display: flex;
    align-items: center;
    margin-right: 1px;
    gap: 18px;
}
.header-second-right-a {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #b45f4d;
    text-decoration: none;
    transition: .2s;
}
.header-second-right-a:hover {
    font-weight: 600;
    color: #b53e23;
}
.header-second-right-img {
    margin-top: 8px;
}
.header-second-right-p {
    font-weight: 400;
    font-size: 15px;
    color: #b4604d;
    margin-left: -12px;
}

/* main  */
.main {
    height: 435px;
    min-width: 1440px;
    width: 100%;
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main__inner {
    padding-top: 331px;
}
.main-btn {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 169%;
    color: #fff;
    text-decoration: none;

    width: 128px;
    height: 48px;
    background: #b45f4d;
    transition: .2s;
    margin: 0 auto;
    padding-top: 9px;
    padding-left: 21px;
}
.main-btn:hover {
    opacity: 80%;
}

/* meet  */
.meet {
    height: 304px;
    min-width: 1440px;
    width: 100%;
    background: #a9ae8d;
}
.meet__inner {
    padding-left: 70px;
    padding-top: 69px;
}
.meet-p1 {
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #f6f4ec;
}
.meet-p2 {
    font-size: 33px;
    line-height: 194%;
    color: #f6f4ec;
    padding-top: 14px;
}
.meet-a {
    font-size: 16px;
    line-height: 170%;
    color: #f6f4ec;
    text-decoration: none;
    transition: .2s;
}
.meet-a:hover {
    font-weight: 600;
    color: #ffffff;

}
.meet-a-div {
    padding-top: 30px;
}

/* bottles */
.bottles {
    height: 835px;
    min-width: 1440px;
    width: 100%;
    background: #f6f4ec;
}
.bottles__inner {
    padding: 38px 70px 0;
}
.bottles-h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 23px;
    line-height: 170%;
    text-transform: capitalize;
    text-align: center;
    color: #b45f4d;
}
.bottles-cards {
    display: flex;
    gap: 80px;
    padding-top: 45px;

}
.bottles-cards-a {
    text-decoration: none;
    transition: .2s;
}
.bottles-cards-a:hover {
    font-weight: 600;
    color: #b2412b;
}
.bottles-cards-img {
}
.bottles-cards-h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    color: #b45f4d;
    text-decoration: none;
    padding-top: 7px;
}
.bottles-cards-p {
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: #b45f4d;
    padding-top: 6px;
}

/* desert */
.desert {
}
.desert__inner {
    padding: 0 110px;
}
.desert-img {
    margin-top: 23px;
    z-index: 0;
    position: relative;
}
.desert-block {
    height: 92px;
    width: 1220px;
    background: #df9b7a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -96px;
    z-index: 1;
    position: absolute;
    padding: 0 30px;
}
.desert-h5 {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-transform: uppercase;
    color: #f6f4ec;
}
.desert-a {
    font-size: 18px;
    line-height: 160%;
    color: #f6f4ec;
    transition: .2s;
    text-decoration: none;
}
.desert-a:hover {
    font-weight: 600;
    color: #ffffff;
}

/* dae  */
.dae {
    min-height: 1069px;
    background: #f1d3b9;
    margin-top: 46px;

}
.dae__inner {
    padding-left: 183px;
    padding-top: 61px;
}
.dae-div {
    width: 632px;
    height: 947px;
    background-image: url(../img/dae.png);
    position: relative;
    z-index: 0;

}
.small-card {
    width: 518px;
    height: 582px;
    background: #f8f8f8;
    position: absolute;
    z-index: 1;
    top: 224px;
    right: -468px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 52px;

}
.small-card-h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 192%;
    color: #b45f4d;
    text-align: center;
    }
.small-card-p {
    font-weight: 400;
    font-size: 19px;
    line-height: 160%;
    color: #b45f4d;
    padding-top: 23px;
    padding-bottom: 41px;
}
.small-card-a {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #b45f4d;
    text-decoration: none;
    transition: .2s;
}
.small-card-a:hover {
    font-weight: 600;
    color: #bb452d;
}